@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --discord-blue: #5865f2;
  --twilight: #27193d;
  --midnight: #030017;
  --dusk: #483a5a;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-indigo-900 text-white;
}

.bg-discord {
  background-color: var(--discord-blue);
}

.border-discord {
  border-color: var(--discord-blue);
}

.text-discord {
  color: var(--discord-blue);
}

.bg-midnight {
  background-color: var(--midnight);
}

.bg-twilight {
  background-color: var(--twilight);
}

.bg-dusk {
  background-color: var(--dusk);
}
